@using Microsoft.AspNetCore.Identity
@using Itransition_course_project.Models.Identity
@using Itransition_course_project.Services.Abstract
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<Itransition_course_project.Models.Post>
@inject IRatingService _ratingService


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="align-self-center">
            <div class="col-sm">
                <h1>Find math task for you.</h1>
                <p class="font-weight-light">You are want to be better in math? Pepople will help you here!</p>
            </div>
        </div>
        <div class="col-xl">
            <img src="~/Media/mainpagepic1.svg" class="img-fluid" alt="Flat design picture"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm">
            <img src="~/Media/mainpagepic2.svg" class="img-fluid" alt="Flat design picture"/>
        </div>
        <div class="align-self-center">
            <div class="col-10">
                <img src="~/Media/logo_full.svg" alt="logo" class="img-fluid" height="10"></img>
                <h1> is a perfect way to keep your minds fit.</h1>
                <p class="font-weight-light">It doesn`t matter who you are, teacher, student or just math fan, with solumath you can be better in math!</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <br/>
    <h1>Here is some of last puzzles...</h1>
    <p class="font-weight-light">You should defenedly chek them out!</p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card rounded m-2 border-0 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title m-0">@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p class="card-text text-muted font-weight-light media-heading" style="font-size: 80%">@Html.DisplayFor(modelItem => item.Topic.Name)</p>
                        <p class="card-text text-muted font-weight-light media-heading" style="font-size: 80%"><i class="bi bi-star"></i> @_ratingService.GetAverageRating(item.Id)/5</p>
                        <p class="card-text" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">@Html.DisplayFor(modelItem => item.PostText)</p>
                        <a class="font-weight-light" asp-controller="Puzzle" asp-action="Details" asp-route-id="@item.Id">Solve</a>
                        <p class="card-text text-muted font-weight-light media-heading" style="font-size: 60%"> Created on @Html.DisplayFor(modelItem => item.DateCreated.Year)/@Html.DisplayFor(modelItem => item.DateCreated.Month)/@Html.DisplayFor(modelItem => item.DateCreated.Day) by @Html.DisplayFor(modelItem => item.CreatedByUser.Email)</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row justify-content-center">
        <div class="align-items-center">
            @if (SignInManager.IsSignedIn(User))
            {
                <p class="font-weight-light">Welcome back, @User.Identity.Name, lets explore <a class="font-weight-light" asp-area="" asp-controller="Puzzle" asp-action="Index">puzzles</a> page!</p>
            }
            else
            {
                <p class="font-weight-light">
                    Not a member yet?
                    <a class="font-weight-light" asp-area="Identity" asp-page="/Account/Login">Login</a> or <a class="font-weight-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </p>
            }
        </div>
    </div>
</div>