@using Itransition_course_project.Models.Identity
@using Microsoft.AspNetCore.Identity
@using Itransition_course_project.Data
@using Itransition_course_project.Services.Abstract
@model Itransition_course_project.Models.Post
@inject UserManager<ApplicationUser> _userManager
@inject IAnswerService _answerService


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <br/>
    <h1 class="m-0">@Html.DisplayFor(model => model.Name)</h1>
    <h5 class="font-weight-light m-0">@Html.DisplayFor(model => model.Topic.Name)</h5>
    <p class="text-muted font-weight-light m-0" style="font-size: 90%">Created by @Html.DisplayFor(model => model.CreatedByUser.Email)</p>
    <p class="text-muted font-weight-light m-0" style="font-size: 90%">@Html.DisplayFor(model => model.DateCreated.Year)/@Html.DisplayFor(model => model.DateCreated.Month)/@Html.DisplayFor(model => model.DateCreated.Day)</p>
    <br/>
    <h3 class="font-weight-light">Here is a puzzle:</h3>
    <div class="clearfix">
        @{
            if (Model.ImageUrl1 != null)
            {
                <img src="@Url.Content(Model.ImageUrl1)" alt="Image" class="col-md-6 mb-3 ms-md-3 float-sm-right"/>
            }
        }
        <p>@Html.DisplayFor(model => model.PostText)</p>
    </div>
    <div class="row">
        @{
            if (Model.ImageUrl2 != null)
            {
                <div class="col-sm">
                    <img src="@Url.Content(Model.ImageUrl2)" alt="Image" class="img-fluid" style="max-height: 200px; height: auto;"/>
                </div>
            }
            if (Model.ImageUrl3 != null)
            {
                <div class="col-sm">
                    <img src="@Url.Content(Model.ImageUrl3)" alt="Image" class="img-fluid" style="max-height: 200px; height: auto;"/>
                </div>
            }
        }
    </div>
    @{
        if (_userManager.GetUserId(User) != Model.CreatedByUserId && !_answerService.CheckIfAnswerExists(_userManager.GetUserId(this.User), Model.Id))
        {
            <h4 class="font-weight-light">Solve this puzzle:</h4>
            <form asp-action="CreateAnswer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input name="postId" class="form-control rounded-pill" value="@Model.Id" type="hidden"/>
                </div>
                <div class="form-group">
                    <input name="answer" class="form-control rounded-pill"/>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-primary rounded-pill"/>
                </div>
            </form>
        }
        else
        {
            <p class="text-muted font-italic font-weight-light">You are not alowed to anwer this puzzle.</p>
        }
    }
    <br/>
    <div class="text-center">
        <div class="row">
            <div class="col-sm padding-0">
                <a class="font-weight-light" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Return to puzzles</a>
            </div>
            @if (_userManager.GetUserId(this.User).Equals(Model.CreatedByUserId) || this.User.IsInRole("Admin"))
            {
                <div class="col-sm padding-0">
                    <a class="font-weight-light text-warning" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pen"></i> Edit</a>
                </div>
                <div class="col-sm padding-0">
                    <a class="font-weight-light text-danger" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-eraser"></i> Delete</a>
                </div>
            }
        </div>
    </div>
</div>
