@using Itransition_course_project.Models.Identity
@using Microsoft.AspNetCore.Identity
@model Itransition_course_project.Models.Post
@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUser.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUser.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl1)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.ImageUrl1)" alt="Image" class="img-fluid"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl2)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.ImageUrl2)" alt="Image" class="img-fluid"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl3)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.ImageUrl3)" alt="Image" class="img-fluid"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer3)
        </dd>
    </dl>
</div>
<div class="text-center">
    <div class="row">
            <div class="col-sm padding-0">
                <a class="font-weight-light" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Return to puzzles</a>
            </div>
            @if(_userManager.GetUserId(this.User).Equals(Model.CreatedByUserId) || this.User.IsInRole("Admin"))
            {
            <div class="col-sm padding-0">
                <a class="font-weight-light text-warning" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pen"></i> Edit</a>
            </div>
            <div class="col-sm padding-0">
                <a class="font-weight-light text-danger" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-eraser"></i> Delete</a>
            </div>
            }
        </div>
</div>
